<html>
  <head>
    <title>Employee Manager</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" crossorigin="anonymous">
  </head>
  <body class="bg-light">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">MongoDB Workshop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://localhost:8081">Home</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/mongodb-developer/workshop">GitHub Repo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://mongodb.dev">MongoDB Developer</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <!--  Header Section-->
        <div class="jumbotron">
            <h1 class="display-4"><h1>MongoDB Workshop</h1>
            <p class="lead">This is a simple web application built using Flask, PyMongo and MongoDB Atlas</p>
            <hr class="my-4">
            <p>Below you see forms leveraging Create, Read, Update and Delete capabilities. Review the source for additional information.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="http://github.com/mongodb-developer/workshop" role="button">Learn more</a>
                <form method="POST">
                    {{ reset.hidden_tag() }}
                    {{ reset.reset(class="btn btn-lg btn-warning") }}
                </form>
            </p>
        </div>
        
        <!--  Content Area-->
        <div class="row content">
          <div class="col-md-4 col-sm-6">
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Create Employee</h5>
                    <p class="card-text"><form method="POST">
                        {{ cform.hidden_tag() }}
                        <div class="form-group">
                            <label for=name>{{ cform.name.label }}</label>
                            <div>{{ cform.name(class="form-control") }}</div>
                            <label for=email>{{ cform.email.label }}</label>
                            <div>{{ cform.email(class="form-control") }}</div>
                            <label for=age>{{ cform.age.label }}</label>
                            <div>{{ cform.age(class="form-control") }}</div>
                            <label for=country>{{ cform.country.label }}</label>
                            <div>{{ cform.country(class="form-control") }}</div>
                            <p></p>
                            <div>{{ cform.create(class="btn btn-primary") }}</div>
                        </div>
                    </form></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Update Employee Name</h5>
                    <p class="card-text">
                    <form  method="POST">
                        {{ uform.hidden_tag() }}
                        <div class="form-group">
                            <label for=key>{{ uform.key.label }}</label>
                            <div>{{ uform.key(class="form-control input-xs") }}</div>
                            <label for=name>{{ uform.name.label }}</label>
                            <div>{{ uform.name(class="form-control") }}</div>
                            <p></p>

                            <div>{{ uform.update(class="btn btn-primary") }}</div>
                        </div>
                    </form></p>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-6">
                <p></p>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Delete Employee</h5>
                        <p class="card-text">
                        <form method="POST">
                            {{ dform.hidden_tag() }}
                                <div class="form-group">
                                    <label for=key>{{ dform.key.label }}</label>
                                    <div>{{ dform.key(class="form-control input-xs") }}</div>
                                </div>
                                <br>OR<br><br>
                                <div class="form-group">
                                    <label for=name>{{ dform.name.label }}</label>
                                    <div>{{ dform.name(class="form-control input-xs") }}</div>
                                    <p></p>
                                    <div>{{ dform.delete(class="btn btn-primary") }}</div>
                                </div>
                        </form><p></p>
                    </div>
                </div>
            </div>
          <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Country</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>  
            <tbody>
            {% for i in data %}
            <tr>
                <td>{{ i["id"] }}</td>
                <td>{{ i["name"] }}</td>
                <td>{{ i["email"] }} </td>
                <td>{{ i["age"] }}</td>
                <td>{{ i["country"] }}</td>
                <td>
                    <form method="POST" action="/delete/{{i['id']}}">
                        <button>DELETE</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
          </div>
        </div>
      </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>